<div class="container">
  <div *ngIf="user">
    <div *ngIf="!isWaitingGame" class="row">
      <div class="col-md-4">
        <div class="card btn" (click)="openDialog()">
          <div class="card-body">
            <h5 class="card-title">Join game</h5>
            <div class="card-text">
              <mdb-icon
                fas
                size="8x"
                icon="gamepad"
                style="color: #ed6a5a;"
              ></mdb-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card btn" (click)="createGame()">
          <div class="card-body">
            <h5 class="card-title">Create game</h5>
            <div class="card-text">
              <mdb-icon
                fas
                size="8x"
                icon="chalkboard-teacher"
                style="color: #ed6a5a;"
              ></mdb-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card btn">
          <div class="card-body">
            <h5 class="card-title">Statistiques</h5>
            <div class="card-text">
              <mdb-icon
                fas
                size="8x"
                icon="trophy"
                style="color: #ed6a5a;"
              ></mdb-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isWaitingGame">
      <div style="display: flex;">
        <span class="mt-2">Id de la partie : {{ game.id }}</span>
        <button
          class="btn m-2 p-0"
          (click)="copyMessage(game.id)"
          value="click to copy"
        >
          <mdb-icon far icon="copy"></mdb-icon>
        </button>
      </div>
      <div class="card text-center breathingBox">
        <div class="card-header">
          Joueurs
        </div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-sm-4 gravatar pb-2"
              *ngFor="let user of usersWaiting | keyvalue"
            >
              <img src="{{ user.value }}" height="150px" />
              <div class>{{ user.key }}</div>
            </div>
          </div>
          <button (click)="cancel()" class="btn btn-outline-dark">
            Cancel
          </button>
          <button
            *ngIf="iOweTheGame"
            (click)="startTheGame()"
            [disabled]="!iCanStartTheGame"
            class="btn btn-primary ml-3"
          >
            Start
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="breathingText">Waiting for players...</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!user">
    <div class="row">
      <div class="col-md-8">
        Welcome to undercover!<br />
        <br />
        Les Civils, l'Undercover et Mr.White partagent le monde d'Undercover ^^.
        Votre but est de découvrir l'identité des autres joueurs (et la vôtre !)
        aussi vite que possible pour éliminer vos ennemis ! Votre indice est un
        mot secret ! -------------- • Vous êtes à une fête ou une soirée, à la
        recherche d'un jeu auquel tout le monde peut participer ? 🎉 • Ou vous
        voulez un bon moyen d'interagir avec vos amis et futurs amis à un dîner,
        une sortie, au travail ou même à l'école ? Ne cherchez plus ! Undercover
        ^^, comme d'autres jeux apéro brise-glace ou de soirée tels que Les
        loups-garous, Mafia, Spyfall et 谁是卧底, a été conçu pour assurer la
        participation de tous ceux qui savent lire et parler. Fous rires et
        surprises garantis ! 😁
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/logo.png" />
      </div>
    </div>
  </div>
</div>
