.card-body {
  text-align: center;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}
.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.gravatar {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

.spinner-message {
  text-align: center;
}
$color: rgb(73, 73, 73);

.breathingText {
  font-style: italic;
  -webkit-animation: breathingText 3s ease-out infinite normal;
  animation: breathingText 3s ease-out infinite normal;
  color: grey;
}
// TODO: if browser is not compatible
// @-webkit-keyframes breathing {
//   0% {
//     box-shadow: 0px 1px -1px $color;
//     color: grey;
//   }
//   50% {
//     box-shadow: 0px 1px 25px $color;
//     color: black;
//   }
// }
// @-moz-keyframes breathing {
//   0% {
//     box-shadow: 0px 1px 1px $color;
//     color: grey;
//   }
//   50% {
//     box-shadow: 0px 1px 25px $color;
//     color: black;
//   }
// }
@keyframes breathingText {
  0% {
    color: rgb(202, 202, 202);
  }
  50% {
    color: rgb(100, 100, 100);
  }
}
